/* Style for the toggle switch */
.toggle-switch {
    display: inline-flex;
    align-items: center;
    padding: 6px;
    /* Add some padding for better spacing */
    border-radius: 20px;
    /* Adjust the border radius to match the toggle height */
}

/* Hide the default checkbox */
.toggle-switch input {
    display: none;
}

/* The slider (circle) for the inverted switch */
.toggle-switch .slider {
    position: relative;
    width: 30px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    margin-left: 8px;
    /* Push the slider to the left */
}

/* Add a dark blue background color when checked for the inverted switch */
.toggle-switch input:checked+.slider {
    background-color: #2196F3;
}

/* Style the slider's appearance for the inverted switch */
.toggle-switch .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    right: 2px;
    /* Move the circle to the right */
    top: 2px;
    /* Adjust the circle's position */
    background-color: white;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}

/* Move the slider to the left when checked for the inverted switch */
.toggle-switch input:checked+.slider:before {
    transform: translateX(-10px);
    /* Move the circle to the left */
}

.button-primary {
    margin-top: 8px;
}

/* Basic styles for the footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

/* Center the footer content */
.footer-content {
    text-align: center;
}

.invalid-input {
    border: 2px solid red !important;
}